.menu
{
    width: 600px;
    height: 763px;
    background-image: url(background.jpg);
    margin-top: -25px;
}

.menuImg
{
    position: absolute;
    width: 600px;
    bottom: 0px;
    left: 0px;
   
}

.title
{
    position: absolute;
    top: 130px;
    left: 140px;
    font-family: 'Quicksand', sans-serif;
    color:rgb(219, 219, 244);
}

.subtitle
{
    position: absolute;
    top: 190px;
    left: 25px;
    font-family: 'Quicksand', sans-serif;
    color:rgb(219, 219, 244);
}

.subtitle2
{
    position: absolute;
    top: 230px;
    left: 205px;
    font-family: 'Quicksand', sans-serif;
    color:rgb(219, 219, 244);
}

body
{
    background-color: rgb(28, 28, 28);
}

.logIn
{
    position: absolute;
    right: 500px;
    top: 250px;
}

.logIn
{
    font-family: 'Quicksand', sans-serif;
    color: whitesmoke;
}

.button
{
    border-radius: 10%;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(29, 29, 29);
    height: 30px;
    width: 90px;
}

.header
{
    color: white;
}

h3
{
    color: white;
}

.roomName
{
    color: white;
    font-size: 20px;
}
